/* stylelint-disable */

.MuiTablePagination-root {
  // abstand von pagination control verringern
  margin-top: 0 !important;
}
.MuiTable-root {
  & > tbody > tr > td:first-child,
  & > thead > tr > th:first-child {
    padding-left: 20px;
  }
}

table.has-sticky-action-menu {
  th:last-child,
  td:last-child {
    position: sticky;
    right: 0;

    // ALT: border links mit box-shadow
    //   box-shadow: -5px 0 5px -5px #ddd; /* Shadow-like effect for the left border */
    //   box-shadow: -1px 2px 4px 2px #ddd;

    // NEU: border links mit :before
    &:before {
      // background-color: rgba(252, 252, 252, 0.97);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      box-shadow: 4px 0 4px -4px rgba(97, 97, 97, 0.5) inset;
    }
  }

  // bei sticky action menu + selection den background-Style hier definieren, damit im Hintergrund nicht die anderen Spalten durchschauen
  tr.Mui-selected td:last-child {
    background-color: #ddeaf8 !important;
  }
  tr.Mui-selected:hover td:last-child {
    background-color: #bad6f2 !important;
  }
}

.menu-item:focus {
  // disable border for a-tags in menü
  outline-width: 0;
}

.text-center .Mui-TableHeadCell-Content {
  justify-content: center;
  transform: translateX(10px);
}

// filter input Text kleiner (gleich wie Tabelleninhalt)
.MuiTableCell-head input[type='text'] {
  font-size: 0.875rem;
}
.MuiTableCell-head .MuiSelect-multiple {
  font-size: 0.875rem;
}

.multilineHeader-2 .Mui-TableHeadCell-Content {
  min-height: 52px;
}
.multilineHeader-3 .Mui-TableHeadCell-Content {
  min-height: 76px;
}

.as-link {
  display: block;
}

/* abstand zwischen action-buttons, aber nur wenn es tatsächlich buttons sind */
td.local_table_sql-column-mrt-row-actions > *:not(:first-child):not(.MuiIconButton-root) {
  margin-left: 6px;
}

/* remove the material-react-table hover effect for table inside a cell */
.MuiTableCell-root td:after {
  content: none; /* Or content: ""; */
  display: none; /* Optional, ensures it doesn't take up space */
}

/* clickable style für zellen, aber nur wenn diese auch geklickt werden können. action und "ignore-click" können nicht geklickt werden */
.clickable-row > td:not(.local_table_sql-column-mrt-row-actions, .local_table_sql-ignore-click-row-action) {
  cursor: pointer;
}

mark {
  background-color: rgb(255, 203, 127);
  border-radius: 2px;
  color: #000;
  padding: 2px 1px;
}

/* Datumsauswahl von bis untereinander, damit weniger Platz benötigt wird */
.local_table_sql-column-type-timestamp .MuiCollapse-root .MuiBox-root {
  display: block;
  max-width: 160px;
  padding-left: 2px;
}
